* {
    box-sizing: border-box !important;
}

.app-header {
    background: black !important;
    display: flex !important;
}

.w-mx-1200 {
  max-width: 1200px;
}

.gap-30 {
  gap: 30px;
}

.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.w-300 {
  width: 300px;
}

/* p & strong {
  transition: background 300ms, box-shadow 300ms;
} */

/* p & strong:hover {
  background: yellow;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

